@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CodeBook.Services

@{
    Layout = "_CodeBookInnerTemplate.cshtml";

    var PXH = new PropertyExceptionHandler();
    var CoursesPage = Umbraco.AssignedContentItem;
    var PageName = CoursesPage.Name;
    var Courses = CoursesPage.ChildrenOfType("course").ToArray();

    //var Description = PXH.GetTextValue(CoursesPage, "description").StripHtml();
    //var Specialization = PXH.GetTextValue(CoursesPage, "specialization");
    //var SocialMediaContacts = PXH.GetElementsArray(CoursesPage, "socialMediaContacts");
    //var ProfilePicture = PXH.GetImageURL(CoursesPage, "profilePicture");
    //var ActivitiesAndInterests = CoursesPage.Value<IEnumerable<string>>("activitiesAndInterests").ToArray();
    //var Biography = PXH.GetTextValue(CoursesPage, "biography").StripHtml();
    //var RelatedCourses = CoursesPage.Value<IEnumerable<IPublishedContent>>("relatedCourses").ToArray();

}


<!-- courses -->
<section class="section">
    <div class="container">
        <!-- course list -->
        <div class="row justify-content-center">
            @for (int i = 0; i < Courses.Length; i++)
            {

                <!-- course item -->
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card p-0 border-primary rounded-0 hover-shadow">
                        <img class="card-img-top rounded-0" src="@PXH.GetImageURL(Courses[i],"courseImage")" alt="course thumb">
                        <div class="card-body">
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>@Courses[i].CreateDate.ToShortDateString()</li>
                                <li class="list-inline-item"><a class="text-color" href="@Courses[i].Url()">Humanities</a></li>
                            </ul>
                            <a href="@Courses[i].Url()">
                                <h4 class="card-title">@Courses[i].Name</h4>
                            </a>
                            <p class="card-text mb-4">
                                @PXH.GetTextValue(Courses[i], "about").StripHtml().Substring(0, 190) ...

                            </p>
                            <a href="@Courses[i].Url()" class="btn btn-primary btn-sm">Apply now</a>
                        </div>
                    </div>
                </div>

            }

        </div>


    </div>
</section>
<!-- /courses -->